<div>
    <layout title="Update">
        <div slot="content">
            <div class="flex items-center">
                <div class="flex-1">
                    <img class="w-full"
                        src="https://thumbs.dreamstime.com/b/dynamic-radial-color-sound-equalizer-design-music-album-cover-template-abstract-circular-digital-data-form-vector-160916775.jpg"
                        alt="">
                </div>
                <div class="flex-3 px-10">
                    <p class="font_19 font-bold">Fidelity Bank</p>
                </div>
            </div>
            <div class="mt-10">
                <p class="font-bold font_19 text-red-500">Company information</p>
                <div class="grid grid-cols-2 mt-8 gap-3">
                    <div class="col-span-1 my-2">NAME:
                        <input type="text" class="form-control" disabled>
                    </div>
                    <div class="col-span-1 my-2">ADDRESS:
                        <input type="text" class="form-control" disabled>
                    </div>
                    <div class="col-span-1 my-2">TYPE:
                        <input type="text" class="form-control" disabled>
                    </div>
                    <div class="col-span-1 my-2">VAT NUMBER:
                        <input type="text" class="form-control" disabled>
                    </div>
                    <div class="col-span-1 my-2">CITY:
                        <input type="text" class="form-control" disabled>
                    </div>
                    <div class="col-span-1 my-2">POSTAL:
                        <input type="text" class="form-control" disabled>
                    </div>
                    <div class="col-span-1 my-2">COUNTRY:
                        <input type="text" class="form-control" disabled>
                    </div>
                    <div class="col-span-1 my-2">COMPANY REGISTRATION:
                        <input type="text" class="form-control" disabled>
                    </div>
                    <div class="col-span-1 my-2">BUSINESS:
                        <input type="text" class="form-control" disabled>
                    </div>
                    <div class="col-span-1 my-2">IDENTIFICATION(SIRET):
                        <input type="text" class="form-control" disabled>
                    </div>
                </div>
            </div>
            <div class="mt-10">
                <p class="font-bold font_19 text-red-500">Company Representive</p>
                <div class="grid grid-cols-2 mt-8 gap-3">
                    <div class="col-span-1 my-2">FIRST NAME: <input type="text" class="form-control" disabled></div>
                    <div class="col-span-1 my-2">LAST NAME: <input type="text" class="form-control" disabled></div>
                    <div class="col-span-1 my-2">BIRTH DATE: <input type="text" class="form-control" disabled></div>
                    <div class="col-span-1 my-2">NATIONALITY: <input type="text" class="form-control" disabled></div>
                    <div class="col-span-1 my-2">EMAIL: <input type="text" class="form-control" disabled></div>
                    <div class="col-span-1 my-2">POSTAL: <input type="text" class="form-control" disabled></div>
                    <div class="col-span-1 my-2">COUNTRY: <input type="text" class="form-control" disabled></div>
                    <div class="col-span-1 my-2">PHONE NUMBER: <input type="text" class="form-control" disabled></div>
                </div>
            </div>
            <div class="mt-10">
                <p class="font-bold font_19 text-red-500">Billing Information</p>
                <div class="grid grid-cols-2 mt-8 gap-3">
                    <div class="col-span-1 my-2">WALLET CURRENCY: <input type="text" class="form-control" disabled>
                    </div>
                    <div class="col-span-1 my-2">ACCOUNTING: <input type="text" class="form-control" disabled></div>
                    <div class="col-span-1 my-2">WEBSITE: <input type="text" class="form-control" disabled></div>
                    <div class="col-span-1 my-2">NATIONALITY: <input type="text" class="form-control" disabled></div>
                    <div class="col-span-1 my-2">EMAIL: <input type="text" class="form-control" disabled></div>
                    <div class="col-span-1 my-2">POSTAL: <input type="text" class="form-control" disabled></div>
                    <div class="col-span-1 my-2">COUNTRY: <input type="text" class="form-control" disabled></div>
                    <div class="col-span-1 my-2">PHONE NUMBER: <input type="text" class="form-control" disabled></div>
                </div>
            </div>
        </div>
    </layout>
</div>