<div>
    <layout title="Edit">
        <div slot="content">
            <div class="flex items-center">
                <div class="flex-1">
                    <img class="w-full"
                        src="https://thumbs.dreamstime.com/b/dynamic-radial-color-sound-equalizer-design-music-album-cover-template-abstract-circular-digital-data-form-vector-160916775.jpg"
                        alt="">
                </div>
                <div class="flex-3 px-10">
                    <p class="font_19 font-bold">Fidelity Bank</p>
                </div>
            </div>
            <div class="mt-10">
                <p class="font-bold font_19 text-red-500">Company information</p>
                <div class="grid grid-cols-2 mt-8">
                    <div class="col-span-1 my-2">NAME:</div>
                    <div class="col-span-1 my-2">ADDRESS:</div>
                    <div class="col-span-1 my-2">TYPE:</div>
                    <div class="col-span-1 my-2">VAT NUMBER:</div>
                    <div class="col-span-1 my-2">CITY:</div>
                    <div class="col-span-1 my-2">POSTAL:</div>
                    <div class="col-span-1 my-2">COUNTRY:</div>
                    <div class="col-span-1 my-2">COMPANY REGISTRATION:</div>
                    <div class="col-span-1 my-2">BUSINESS:</div>
                    <div class="col-span-1 my-2">IDENTIFICATION(SIRET):</div>
                </div>
            </div>
            <div class="mt-10">
                <p class="font-bold font_19 text-red-500">Company Representive</p>
                <div class="grid grid-cols-2 mt-8">
                    <div class="col-span-1 my-2">FIRST NAME:</div>
                    <div class="col-span-1 my-2">LAST NAME:</div>
                    <div class="col-span-1 my-2">BIRTH DATE:</div>
                    <div class="col-span-1 my-2">NATIONALITY:</div>
                    <div class="col-span-1 my-2">EMAIL:</div>
                    <div class="col-span-1 my-2">POSTAL:</div>
                    <div class="col-span-1 my-2">COUNTRY:</div>
                    <div class="col-span-1 my-2">PHONE NUMBER:</div>
                </div>
            </div>
            <div class="mt-10">
                <p class="font-bold font_19 text-red-500">Billing Information</p>
                <div class="grid grid-cols-2 mt-8">
                    <div class="col-span-1 my-2">WALLET CURRENCY:</div>
                    <div class="col-span-1 my-2">ACCOUNTING:</div>
                    <div class="col-span-1 my-2">WEBSITE:</div>
                    <div class="col-span-1 my-2">NATIONALITY:</div>
                    <div class="col-span-1 my-2">EMAIL:</div>
                    <div class="col-span-1 my-2">POSTAL:</div>
                    <div class="col-span-1 my-2">COUNTRY:</div>
                    <div class="col-span-1 my-2">PHONE NUMBER:</div>
                </div>
            </div>
        </div>
    </layout>
</div>