<div>
    <layout>
        <div slot="content">
            <div class="flex shadow-md">
                <div class="flex-1 flex w-40 rounded-md justify-center items-center" v-randombg>

                    <button type="button"
                        class="border border-gray-200 font-bold bg-gray-200 color_pink rounded-md px-4 py-2 m-2 transition duration-500 ease select-none hover:bg-gray-300 focus:outline-none focus:shadow-outline">
                        7 Unread Report
                    </button>

                </div>
                <div class="flex-3 p-5">
                    <div class="flex justify-between">
                        <p class="font-bold font_19">Fidelity bank Demo Bug Bounty Program
                        </p>
                        <input type="checkbox">
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi repudiandae sit praesentium ipsa
                        nam quidem nobis accusantium eveniet! Eligendi quibusdam unde saepe iusto officia neque tenetur
                        consequuntur repellendus porro nisi!</p>
                    <div class="mt-10">
                        <button type="button"
                            class="border border-gray-200 font-bold bg-red-500  text-white rounded-md px-4 py-2 m-2 transition duration-500 ease select-none hover:bg-gray-300 focus:outline-none focus:shadow-outline">
                            Bounntay
                        </button>
                        <button type="button"
                            class="border border-gray-200 font-bold bg-red-500 text-white rounded-md px-4 py-2 m-2 transition duration-500 ease select-none hover:bg-gray-300 focus:outline-none focus:shadow-outline">
                            Half of fame
                        </button>
                    </div>
                </div>
                <div class="flex-1 text-center p-6">
                    <div class="border-2 border-pink-300 p-6 rounded-md ">
                        <p class="font_12 ">Bounty Range</p>
                        <p class="font_19 font-bold mt-2">$50 - $250</p>

                    </div>
                    <button type="button"
                        class="border border-gray-200 font-bold bg_pink  text-white rounded-md px-4 py-2 m-2 transition duration-500 ease select-none hover:bg-gray-300 focus:outline-none focus:shadow-outline">
                        Bounntay
                    </button>
                </div>
            </div>
        </div>
    </layout>
</div>