<div class="grid grid-cols-5 shadow-md sticky top-0">
    <modal class="modal" id="newprogram">
        <div slot="content">
            <div class="flex">
                <p class="font_19 font-bold">Select a Program to lunch</p>
            </div>
            <div>
                <div v-for="(i,index) in program">

                    <programtype :item="i"></programtype>
                </div>

            </div>
        </div>
        <div slot="header">
            <div class="flex justify-end">
                <i class="fas fa-times cursor-pointer" @click.prevent="$m.hidemodal('newprogram')"></i>
            </div>
        </div>
    </modal>
    <div class="col-span-1 flex items-center justify-center bg-gray-200">
        <img src="../../assets/img/teklabspcelogo.png" alt="">
    </div>
    <div class="col-span-4">
        <mainmenu></mainmenu>
    </div>

</div>