@import "./variable.less";

@font-face {
    font-family: 'roboto';
    src: url('../font/Rubik-Regular.ttf');
  }
  body {
    font-family: 'roboto' !important;
    box-sizing: border-box !important;
    margin: 0 !important;
    padding: 0 !important;
    
  }

  ::-webkit-scrollbar {
	width: 5px;
}
/* Handle */
::-webkit-scrollbar-thumb {
	background   :@pink;
	border-radius: 10px;
	margin-right : 10px;
}

html{
    font-size:  95%;
    @media only screen and (min-width: 1400px){
        font-size:90%
    }
}
.dropdown{
    .dropdown-menu{
        display: none;
    }
    &:hover{
.dropdown-menu{
    display: block;
}
    }
}

.color_pink{
    color: @pink;
}
.color_black{
    color: @black;
}
.color_gray{
    color: @gray;
}
.color_gray2{
    color: @gray2;
}
.color_white{
    color: @white;
}
.color_gray3{
    color: @gray3;
}
.color_green{
    color: @green;
}
.color_darkpink{
    color: @darkpink;
}
.color_lightpink{
    color: @lightpink;
}
.color_blue{
    color: @blue;
}
.color_lightblue{
    color: @lightblue;
}
.color_pinkgradient{
    color: @pinkgradient;
}
.color_purplegradient{
    color: @purplegradient;
}


.bg_pink{
    background: @pink;
}
.bg_black{
    background: @black;
}
.bg_gray{
    background: @gray;
}
.bg_gray2{
    background: @gray2;
}
.bg_white{
    background: @white;
}
.bg_gray3{
    background: @gray3;
}
.bg_green{
    background: @green;
}
.bg_darkpink{
    background: @darkpink;
}
.bg_lightpink{
    background: @lightpink;
}
.bg_blue{
    background: @blue;
}
.bg_lightblue{
    background: @lightblue;
}
.bg_pinkgradient{
    background: @pinkgradient;
}
.bg_purplegradient{
    background: @purplegradient;
}



// font-sizes

.font_70 {
    font-size: @70;
}
.font_40 {
    font-size: @40;
}
.font_50 {
    font-size: @50;
}
.font_25 {
    font-size: @25;
}
.font_19 {
    font-size: @19;
}
.font_18 {
    font-size: @18;
}
.font_16 {
    font-size: @16;
}
.font_14 {
    font-size: @14;
}
.font_13{
    font-size: @13;
}
.font_12 {
    font-size: @12;
}
.font_10 {
    font-size: @10;
}











// /////////////////////////////////////////////
@menuheight: 6rem;
@font_500: 500;


.menu-container{
    display: flex;
    position: sticky;
    top: 0rem;
    .menu-logo{
        width: 20%;
        height: @menuheight;
        display: flex;
        align-items: center;
        background: @gray2;
        justify-content: center;
        .name{
            font-size: @16;
            font-weight: @font_500;
            margin-right: 3rem;
        }
    }
    .menu-item{
        width: 100%;
        background-color: @white;
        height: @menuheight;
        display: flex;
        align-items: center;
        padding: 1rem;
        justify-content: space-between;
        .mainmenu{
            display: flex;
            .item{
                margin: 0rem 2rem;
                cursor: pointer;
                font-size: @16;
                font-weight: @font_500;
                display: flex;
                align-items: center;
                justify-content: space-between;

                span{
                    margin-right: 1rem;
                }
                &:hover{
                    color: @pink;
                }
            }
            .active{
                color: @pink !important;
                background-color: @lightpink;
                padding: 1rem 2rem;
                border-radius: .5rem;
            }
        }
        .mobilemenu{
            display: none;
        }
    }
    @media only screen and (max-width: 1300px){
        .menu-logo{
            width: 50%;
        }
        .menu-item{
            width: 100%;
            justify-content: space-between;
            .mainmenu{
                display: none;
            }
            .mobilemenu{
                display: block;
                margin-left: 1rem;
            }
            .dashboard_side{
                display: none;
            }
        
            .dashboard_content {
                grid-column-start: 1;
                grid-column: span 5/span 5;
            }
        
            .menu-container .menu-item .mobilemenu{
                display: block;
                margin-left: 1rem;
            }
        }
    }
}
.modal{
    display: none;
    // animation: bounce-in .5s;
}

@media screen and (max-width: 81.25em){ /* 1300px/16 */
    

}

.contentt {
    margin-top: -3rem;
    /* padding: 2rem; */
    border-radius: 0.5rem;
  }
  .sectionmenu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .sectionmenu-item {
        margin: 0rem 1rem;
      }
  }
  .flex-1 {
    flex: 1;
  }
  .flex-2 {
    flex: 2;
  }
  .flex-3 {
    flex: 3;
  }
  .flex-4 {
    flex: 4;
  }
  .flex-5 {
    flex: 5;
  }
  .form-control {
    text-indent: 1rem;
    padding: 0.7rem;
    width: 100%;
    border: 1px solid rgb(221, 221, 221);
  }


  select{
      padding: 1rem 1.5rem;
      width: 100%;
   
      border: none;
      appearance: none;
      background: url(../img/double-arrow.svg) 95% center no-repeat #fff;
      background-size: 15px 15px;
      option{
          border: none;
      }
  }

  .toggle{
      display:flex;
      font-size: @16;
      margin: 1rem 0rem;
      .toggle-item{
margin-right:  2rem;
padding: 1rem 0rem;
color: @gray;
cursor: pointer;
      }
      .active{
          border-bottom: 3px solid @pink;
          color: #000;
      }
  }