@import "./variable.less";

@font-face {
    font-family: 'roboto';
    src: url('../font/Rubik-Regular.ttf');
  }
  body {
    font-family: 'roboto' !important;
    box-sizing: border-box !important;
    margin: 0 !important;
    padding: 0 !important;
    font-size: 1rem;
  }

  ::-webkit-scrollbar {
	width: 5px;
}
/* Handle */
::-webkit-scrollbar-thumb {
	background   :@pink;
	border-radius: 10px;
	margin-right : 10px;
}


.color_pink{
    color: @pink;
}
.color_black{
    color: @black;
}
.color_gray{
    color: @gray;
}
.color_gray2{
    color: @gray2;
}
.color_white{
    color: @white;
}
.color_gray3{
    color: @gray3;
}
.color_green{
    color: @green;
}
.color_darkpink{
    color: @darkpink;
}
.color_lightpink{
    color: @lightpink;
}
.color_blue{
    color: @blue;
}
.color_lightblue{
    color: @lightblue;
}
.color_pinkgradient{
    color: @pinkgradient;
}
.color_purplegradient{
    color: @purplegradient;
}


.bg_pink{
    background: @pink;
}
.bg_black{
    background: @black;
}
.bg_gray{
    background: @gray;
}
.bg_gray2{
    background: @gray2;
}
.bg_white{
    background: @white;
}
.bg_gray3{
    background: @gray3;
}
.bg_green{
    background: @green;
}
.bg_darkpink{
    background: @darkpink;
}
.bg_lightpink{
    background: @lightpink;
}
.bg_blue{
    background: @blue;
}
.bg_lightblue{
    background: @lightblue;
}
.bg_pinkgradient{
    background: @pinkgradient;
}
.bg_purplegradient{
    background: @purplegradient;
}



// font-sizes

.font_70 {
    font-size: @70;
}
.font_40 {
    font-size: @40;
}
.font_50 {
    font-size: @50;
}
.font_25 {
    font-size: @25;
}
.font_19 {
    font-size: @19;
}
.font_18 {
    font-size: @18;
}
.font_16 {
    font-size: @16;
}
.font_14 {
    font-size: @14;
}
.font_13{
    font-size: @13;
}
.font_12 {
    font-size: @12;
}
.font_10 {
    font-size: @10;
}











// /////////////////////////////////////////////
@menuheight: 6rem;
@font_500: 500;


.menu-container{
    display: flex;
    position: sticky;
    top: 0rem;
    .menu-logo{
        width: 30%;
        height: @menuheight;
        display: flex;
        align-items: center;
        background: @gray2;
        justify-content: center;
        .name{
            font-size: @16;
            font-weight: @font_500;
            margin-right: 3rem;
        }
    }
    .menu-item{
        width: 70%;
        height: @menuheight;
        display: flex;
        align-items: center;
        padding: 1rem;
        justify-content: space-between;
        .mainmenu{
            display: flex;
            .item{
                margin: 0rem 2rem;
                font-size: @16;
                font-weight: @font_500;
                display: flex;
                align-items: center;
                justify-content: space-between;
                span{
                    margin-right: 1rem;
                }
            }
            .active{
                color: @pink !important;
            }
        }
        .mobilemenu{
            display: none;
        }
    }
    @media only screen and (max-width: 1486px){
.menu-logo{
    width: 50%;
}
.menu-item{
    width: 50%;
    justify-content: flex-end;
    .mainmenu{
        display: none;
    }
    .mobilemenu{
        display: block;
        margin-left: 1rem;
    }
}
    }
}