@font-face {
  font-family: 'roboto';
  src: url('../font/Rubik-Regular.ttf');
}
body {
  font-family: 'roboto' !important;
  box-sizing: border-box !important;
  margin: 0 !important;
  padding: 0 !important;
}
::-webkit-scrollbar {
  width: 5px;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #DA04F2;
  border-radius: 10px;
  margin-right: 10px;
}
html {
  font-size: 95%;
}
@media only screen and (min-width: 1400px) {
  html {
    font-size: 90%;
  }
}
.dropdown .dropdown-menu {
  display: none;
}
.dropdown:hover .dropdown-menu {
  display: block;
}
.color_pink {
  color: #DA04F2;
}
.color_black {
  color: #000;
}
.color_gray {
  color: #9E9E9E;
}
.color_gray2 {
  color: #E5E5E5;
}
.color_white {
  color: white;
}
.color_gray3 {
  color: #f9f9f9;
}
.color_green {
  color: #043927;
}
.color_darkpink {
  color: #C21975;
}
.color_lightpink {
  color: rgba(199, 76, 77, 0.1);
}
.color_blue {
  color: #4d7cfe;
}
.color_lightblue {
  color: #4d7cfe77;
}
.color_pinkgradient {
  color: linear-gradient(to right, #DA04F2, #7024C4);
}
.color_purplegradient {
  color: linear-gradient(to right, #7922C8, #7922C8);
}
.bg_pink {
  background: #DA04F2;
}
.bg_black {
  background: #000;
}
.bg_gray {
  background: #9E9E9E;
}
.bg_gray2 {
  background: #E5E5E5;
}
.bg_white {
  background: white;
}
.bg_gray3 {
  background: #f9f9f9;
}
.bg_green {
  background: #043927;
}
.bg_darkpink {
  background: #C21975;
}
.bg_lightpink {
  background: rgba(199, 76, 77, 0.1);
}
.bg_blue {
  background: #4d7cfe;
}
.bg_lightblue {
  background: #4d7cfe77;
}
.bg_pinkgradient {
  background: linear-gradient(to right, #DA04F2, #7024C4);
}
.bg_purplegradient {
  background: linear-gradient(to right, #7922C8, #7922C8);
}
.font_70 {
  font-size: 4.375rem;
}
.font_40 {
  font-size: 2.5rem;
}
.font_50 {
  font-size: 3.125rem;
}
.font_25 {
  font-size: 1.5625rem;
}
.font_19 {
  font-size: 1.1875rem;
}
.font_18 {
  font-size: 1.125rem;
}
.font_16 {
  font-size: 1rem;
}
.font_14 {
  font-size: 0.875rem;
}
.font_13 {
  font-size: 0.8125rem;
}
.font_12 {
  font-size: 0.75rem;
}
.font_10 {
  font-size: 0.625rem;
}
.menu-container {
  display: flex;
  position: sticky;
  top: 0rem;
}
.menu-container .menu-logo {
  width: 20%;
  height: 6rem;
  display: flex;
  align-items: center;
  background: #E5E5E5;
  justify-content: center;
}
.menu-container .menu-logo .name {
  font-size: 1rem;
  font-weight: 500;
  margin-right: 3rem;
}
.menu-container .menu-item {
  width: 100%;
  background-color: white;
  height: 6rem;
  display: flex;
  align-items: center;
  padding: 1rem;
  justify-content: space-between;
}
.menu-container .menu-item .mainmenu {
  display: flex;
}
.menu-container .menu-item .mainmenu .item {
  margin: 0rem 2rem;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.menu-container .menu-item .mainmenu .item span {
  margin-right: 1rem;
}
.menu-container .menu-item .mainmenu .item:hover {
  color: #DA04F2;
}
.menu-container .menu-item .mainmenu .active {
  color: #DA04F2 !important;
  background-color: rgba(199, 76, 77, 0.1);
  padding: 1rem 2rem;
  border-radius: 0.5rem;
}
.menu-container .menu-item .mobilemenu {
  display: none;
}
@media only screen and (max-width: 1000px) {
  .menu-container .menu-logo {
    width: 50%;
  }
  .menu-container .menu-item {
    width: 50%;
    justify-content: flex-end;
  }
  .menu-container .menu-item .mainmenu {
    display: none;
  }
}
.modal {
  display: none;
}
@media screen and (max-width: 81.25em) {
  /* 1300px/16 */
  .dashboard_side {
    display: none;
  }
  .dashboard_content {
    grid-column-start: 1;
    grid-column: span 5 / span 5;
  }
  .menu-container .menu-item .mobilemenu {
    display: block;
    margin-left: 1rem;
  }
}
.contentt {
  margin-top: -3rem;
  /* padding: 2rem; */
  border-radius: 0.5rem;
}
.sectionmenu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.sectionmenu .sectionmenu-item {
  margin: 0rem 1rem;
}
.flex-1 {
  flex: 1;
}
.flex-2 {
  flex: 2;
}
.flex-3 {
  flex: 3;
}
.flex-4 {
  flex: 4;
}
.flex-5 {
  flex: 5;
}
.form-control {
  text-indent: 1rem;
  padding: 0.7rem;
  width: 100%;
  border: 1px solid #dddddd;
}
select {
  padding: 1rem 1.5rem;
  width: 100%;
  border: none;
  appearance: none;
  background: url(../img/double-arrow.svg) 90% center no-repeat #fff;
  background-size: 15px 15px;
}
select option {
  border: none;
}
