// fonts
@basefontsize: 16rem;

@19: (19/@basefontsize);
@18: (18/@basefontsize);
@10: (10/@basefontsize);
@12: (12/@basefontsize);
@16: (16/@basefontsize);
@14: (14/@basefontsize);
@50: (50/@basefontsize);
@70: (70/@basefontsize);
@25: (25/@basefontsize);
@40: (40/@basefontsize);




// colors
@black: #000;
@gray: #9E9E9E;
@pink: #DA04F2;
@darkpink:#C21975;
@white: white;
@gray2: #E5E5E5;
@gray3: #f9f9f9;
@gray1: #D9D9D9;
@green: #043927;
@lightpink:rgba(199,76,77,0.1);
@blue: #4d7cfe;
@lightblue: #4d7cfe77;
@pinkgradient: linear-gradient(to right, #DA04F2 , #7024C4);
@purplegradient: linear-gradient(to right, #7922C8 , #7922C8);